
.games__photo {
    width: 40%;
}

.page__header {
    text-align: center;
}

.page__description {
    text-align:center;
}

.slots__container {
display: flex;
}

.slots__body {

}

.slots {
        border: 5px solid;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        flex-wrap: wrap;
}

