/* 
Madeline is going to do all of our formal centering in main.css

.header__title {
  text-align: center;
}

/* .navigation {
  text-align: center;
}

.page__header {
  text-align: center;
} */

/* 
Tables does not currently have a description. 
If we add one, comment this back in!

.page__description {
  text-align: center;
  border: 5px solid;
  border-radius: 10px;
} 
*/

.tables__container {
  display: flex;
}

.tables__game {
  border: 5px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

.tables__image {
    max-width: 50%;
}

/* 
IN ORDER:

.tables__game
    .tables__name
    .tables__image
    .tables__description
    .tables__dealers
    .tables__bet

*/


/* 
JACKIE'S:

.games__photo {
    width: 40%;
}

.header__title {
    text-align: center;
}

.navigation {
    text-align: center;
}

.page__header {
    text-align: center;
}

.page__description {
    text-align:center;
    border: 5px solid;
    border-radius: 10px;
}

.slots__container {
display: flex;
}

.slots__body {

}

.slots {
        border: 5px solid;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        flex-wrap: wrap;
}



*/